name: Run poller daily

on:
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Call poller endpoint (HARDCODED TEST)
        run: |
          curl -v -X POST "https://fishstock-alerts.onrender.com/run-poller?key=1g5df61g5df1g6d51h5g1j15yyuk1"
